# CMPSC 448: Homewrok #1
# Exploratory Data Analysis with `pandas`

## Objectives

In this assignment, you are asked to analyze the UCI Adult data set containing demographic information about the US residents. This data was extracted from the census bureau database found at

http://www.census.gov/ftp/pub/DES/www/welcome.html

The features of data with possible values of each feature are listed below:

| Feature Name| Possible Values  |
|------|------|
| age | continuous|
| workclass| Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked|
| fnlwgt| continuous|
| education | Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool|
|education_num | continuous|
|marital_status | Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse|
|occupation | Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces|
|relationship | Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried |
|race | White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black|
|sex | Female, Male|
|capital_gain| continuous|
|capital_loss | continuous|
|hours-per-week | continuous |
|native-country | United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands |
|salary | >50K,<=50K |


Please  complete the tasks in the Jupyter notebook by answering following 8 questions.

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('adult.data.csv')
print("\n".join(data.columns))

age
workclass
fnlwgt
education
education_num
marital_status
occupation
relationship
race
sex
capital_gain
capital_loss
hours_per_week
native_country
salary

In [3]:
data.shape

(32561, 15)

In [4]:
data.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
print (" Columns Information :")
print (data.info ())
print ("")
print (" Summary statistics of dataset :")
print (data.describe ())
print ("")
import os

 Columns Information :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

 Summary statistics of dataset :
                age        fnlwgt  education_num  capital_gain  capital_loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours_per_week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

### 1. How many men and women (sex feature) are represented in this dataset?

In [6]:
# You answer (code + results)
n_female = data[data.sex==' Female'].count()[0]
n_male = data[data.sex==' Male'].count()[0]
print(f'Number of women: {n_female}')
print(f'Number of Men: {n_male}')

assert np.shape(data)[0] == n_female + n_male

data['sex'].value_counts()

Number of women: 10771
Number of Men: 21790

 Male      21790
 Female    10771
Name: sex, dtype: int64

### 2. What is the average age (age feature) of women?

In [7]:
# You answer (code + results)


mean_women_age = data['age'][data.sex == ' Female'].mean()
print(f'The average age of women: {mean_women_age}')
print(f'The average age of women(round): {int(mean_women_age)}')

The average age of women: 36.85823043357163
The average age of women(round): 36

### 3. What is the percentage of German citizens (native-country feature)?

In [8]:
# You answer (code + results)
n_g = data[data.native_country == ' Germany'].count()[0]

N = data['native_country'].count()

print(f'Number of Gernam: {n_g}')
print(f'Number of Total citizens: {N}')

print(f"Percentage of German: {float(n_g/N)*100}%")

Number of Gernam: 137
Number of Total citizens: 32561
Percentage of German: 0.42074874850281013%

###  4. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

In [9]:
# You answer (code + results)

std = data['age'][data.salary == " >50K"].std()
mean = data['age'][data.salary == " >50K"].mean()
print(f'std of age (salary > 50k): {std} = {int(std)}')
print(f'mean of age (salary > 50k): {mean} = {int(mean)}')
data['age'][data.salary == " >50K"].describe()

std of age (salary > 50k): 10.519027719851826 = 10
mean of age (salary > 50k): 44.24984058155847 = 44

count    7841.000000
mean       44.249841
std        10.519028
min        19.000000
25%        36.000000
50%        44.000000
75%        51.000000
max        90.000000
Name: age, dtype: float64

In [10]:
# You answer (code + results)

std = data['age'][data.salary == " <=50K"].std()
mean = data['age'][data.salary == " <=50K"].mean()

print(f'std of age (salary <= 50k): {std} = {int(std)}')
print(f'mean of age (salary <= 50k): {mean} = {int(mean)}')
data['age'][data.salary == " <=50K"].describe()

std of age (salary <= 50k): 14.02008849082488 = 14
mean of age (salary <= 50k): 36.78373786407767 = 36

count    24720.000000
mean        36.783738
std         14.020088
min         17.000000
25%         25.000000
50%         34.000000
75%         46.000000
max         90.000000
Name: age, dtype: float64

### 5. Is it true that people who earn more than 50K have at least high school education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [11]:
# You answer (code + results)

high = data[(data.salary == " >50K") & ((data.education==' Bachelors') |
                                       (data.education==' Prof-school') |
                                       (data.education==' Assoc-acdm') |
                                       (data.education==' Assoc-voc') |
                                       (data.education==' Masters') |
                                       (data.education==' Doctorate'))].count()[0]
print(high)
total = data[(data.salary== ' >50K')].count()[0]
print(total)
print(f"Answer is {high==total}")


# another way
data['education'][data.salary == ' >50K'].unique()
# reference https://stackoverflow.com/questions/16970982/find-unique-rows-in-numpy-array
# The answer is still False

4535
7841
Answer is False

array([' HS-grad', ' Masters', ' Bachelors', ' Some-college',
       ' Assoc-voc', ' Doctorate', ' Prof-school', ' Assoc-acdm',
       ' 7th-8th', ' 12th', ' 10th', ' 11th', ' 9th', ' 5th-6th',
       ' 1st-4th'], dtype=object)

### 6.  Display age statistics for each race (race feature) and each gender (sex feature).

Hint: Use `groupby()` and `describe()` functions of DataFrame. Find the maximum age of men of Amer-Indian-Eskimo race.

In [12]:
# You answer (code + results)



for (r, s), sg in data.groupby(['race', 'sex']):
    
    print(f'Race: {r}  Gender: {s}')
    print(sg['age'].describe())
    print('\n\n')

    
# Reference https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

Race:  Amer-Indian-Eskimo  Gender:  Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64



Race:  Amer-Indian-Eskimo  Gender:  Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64



Race:  Asian-Pac-Islander  Gender:  Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64



Race:  Asian-Pac-Islander  Gender:  Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64



Race:  Black  Gender:  Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64



Race:  Black  Gender:  Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64



Race:  Other  Gender:  Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64



Race:  Other  Gender:  Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64



Race:  White  Gender:  Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64



Race:  White  Gender:  Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

### 7. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [13]:
# You answer (code + results)
max_hour = data['hours_per_week'].max()
print(f"Maximum number of hours a person works per week: {max_hour}")

hard_worker = data[data.hours_per_week == max_hour].count()[0]
print(f"Hard worker: {hard_worker}")

p = float(data[(data.hours_per_week == max_hour) & (data.salary >= ' >50K')].count()[0] / hard_worker) * 100

print(f'Percentage of hard workers who earn >50k: {p} %')

Maximum number of hours a person works per week: 99
Hard worker: 85
Percentage of hard workers who earn >50k: 29.411764705882355 %

### 8. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [14]:
# You answer (code + results)
print(f'country \t salary \t average_time')
j_s_dicts = []
j_avg_dicts = []
for (c, s), sg in data.groupby(['native_country', 'salary']):
    mean = sg['hours_per_week'].mean()
    print(f'{c}\t {s}\t {mean}')
    if c == ' Japan':
        j_s_dicts.append(s)
        j_avg_dicts.append(mean)

        
print("\n\n")
for i in range(2):
    print(f'Japan\t {j_s_dicts.pop()}\t {j_avg_dicts.pop()}')

country 	 salary 	 average_time
 ?	  <=50K	 40.16475972540046
 ?	  >50K	 45.54794520547945
 Cambodia	  <=50K	 41.416666666666664
 Cambodia	  >50K	 40.0
 Canada	  <=50K	 37.91463414634146
 Canada	  >50K	 45.64102564102564
 China	  <=50K	 37.38181818181818
 China	  >50K	 38.9
 Columbia	  <=50K	 38.68421052631579
 Columbia	  >50K	 50.0
 Cuba	  <=50K	 37.98571428571429
 Cuba	  >50K	 42.44
 Dominican-Republic	  <=50K	 42.338235294117645
 Dominican-Republic	  >50K	 47.0
 Ecuador	  <=50K	 38.041666666666664
 Ecuador	  >50K	 48.75
 El-Salvador	  <=50K	 36.03092783505155
 El-Salvador	  >50K	 45.0
 England	  <=50K	 40.483333333333334
 England	  >50K	 44.53333333333333
 France	  <=50K	 41.05882352941177
 France	  >50K	 50.75
 Germany	  <=50K	 39.13978494623656
 Germany	  >50K	 44.97727272727273
 Greece	  <=50K	 41.80952380952381
 Greece	  >50K	 50.625
 Guatemala	  <=50K	 39.36065573770492
 Guatemala	  >50K	 36.666666666666664
 Haiti	  <=50K	 36.325
 Haiti	  >50K	 42.75
 Holand-Netherlands	  <=50K	 40.0
 Honduras	  <=50K	 34.333333333333336
 Honduras	  >50K	 60.0
 Hong	  <=50K	 39.142857142857146
 Hong	  >50K	 45.0
 Hungary	  <=50K	 31.3
 Hungary	  >50K	 50.0
 India	  <=50K	 38.233333333333334
 India	  >50K	 46.475
 Iran	  <=50K	 41.44
 Iran	  >50K	 47.5
 Ireland	  <=50K	 40.94736842105263
 Ireland	  >50K	 48.0
 Italy	  <=50K	 39.625
 Italy	  >50K	 45.4
 Jamaica	  <=50K	 38.23943661971831
 Jamaica	  >50K	 41.1
 Japan	  <=50K	 41.0
 Japan	  >50K	 47.958333333333336
 Laos	  <=50K	 40.375
 Laos	  >50K	 40.0
 Mexico	  <=50K	 40.00327868852459
 Mexico	  >50K	 46.57575757575758
 Nicaragua	  <=50K	 36.09375
 Nicaragua	  >50K	 37.5
 Outlying-US(Guam-USVI-etc)	  <=50K	 41.857142857142854
 Peru	  <=50K	 35.06896551724138
 Peru	  >50K	 40.0
 Philippines	  <=50K	 38.065693430656935
 Philippines	  >50K	 43.032786885245905
 Poland	  <=50K	 38.166666666666664
 Poland	  >50K	 39.0
 Portugal	  <=50K	 41.93939393939394
 Portugal	  >50K	 41.5
 Puerto-Rico	  <=50K	 38.470588235294116
 Puerto-Rico	  >50K	 39.416666666666664
 Scotland	  <=50K	 39.44444444444444
 Scotland	  >50K	 46.666666666666664
 South	  <=50K	 40.15625
 South	  >50K	 51.4375
 Taiwan	  <=50K	 33.774193548387096
 Taiwan	  >50K	 46.8
 Thailand	  <=50K	 42.86666666666667
 Thailand	  >50K	 58.333333333333336
 Trinadad&Tobago	  <=50K	 37.05882352941177
 Trinadad&Tobago	  >50K	 40.0
 United-States	  <=50K	 38.79912723305605
 United-States	  >50K	 45.50536884674383
 Vietnam	  <=50K	 37.193548387096776
 Vietnam	  >50K	 39.2
 Yugoslavia	  <=50K	 41.6
 Yugoslavia	  >50K	 49.5



Japan	  >50K	 47.958333333333336
Japan	  <=50K	 41.0